.DS_Store
.expo/
.expo-shared/
node_modules/
dist/
web-build/

.conda/
.conda-env/
env/
venv/
.venv/
__pycache__/
.ipynb_checkpoints/

data/*
!data/.gitkeep
!data/raw/
!data/raw/.gitkeep
data/raw/*
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/freesurfer_surface_atlas.json
!data/processed/harvard_oxford_slice_atlas.json

outputs/*
!outputs/.gitkeep
